@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4e9dd6;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
    line-height: 1;
}


.hero {
    background-image: url('image/comp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
}

.hero__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.hero__title {
    display: inline-block;
    font-size: 3vw;
    justify-content: center;
    margin-top: 8vw;
    font-weight: 900;
    position: relative;
}

.hero__line-wrapper {
    position: relative;
    width: 100%;
    display: block;
}

.hero__line-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 0.4vw;
    width: 100%;
    background-color: currentColor;
}

.hero__line-text {
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.hero__text {
    display: flex;
    color: #fff;
    justify-content: center;
    margin-top: 12vw;
}

.hero__buttom {
    padding: 2vw 3vw;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 2vw;
    position: relative;
    padding-left: 4vw;
}
.hero__buttom::before {
    content: '';
    position: absolute;
    left: -10vw;
    top: 50%;
    transform: translateY(-50%);
    width: 20vw;
    height: 20vw;
    background-image: url(image/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .hero {
        background-image: url('image/tablet.jpg');
    }

    .hero__title {
        margin-top: 21vw;
        font-size: 5vw;
        width: 55%;
        left: -20%;
    }

    .hero__text {
        margin-top: 42vw;
        font-size: 5vw;
    }

    .hero__buttom {
        margin-top: 6vw;
        font-size: 3vw;
    }

    .hero__buttom::before {
        left: -15vw;
        width: 30vw;
        height: 30vw;
    }


}

@media (max-width: 767px) {
    .hero {
        background-image: url('image/mobile.jpg');
    }

    .hero__title {
        margin-top: 38vw;
        font-size: 7vw;
        width: 50%;
        left: -20%;
    }

    .hero__line-wrapper::after {
        height: 0.7vw;
    }

    .hero__text {
        font-size: 8vw;
        margin-top: 52vw;
    }

    .hero__buttom {
        margin-top: 8vw;
        font-size: 5vw;
        padding: 3vw 3vw;
    }
    .hero__buttom::before {
        left: -20vw;
        width: 40vw;
        height: 40vw;
    }


}